/* imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body {
    font-family: 'Inter', sans-serif;
}

/* navbar */
.nav {
    background-color: #00BFFF;
}


.btn-div{
    flex: 1;
    display: flex;
    justify-content: center;
}

#log{
    padding: 5px 7px 5px 7px;
    border-radius: 5px;
    background-color: #fafafa;
    border: none;
    margin-right: 50px;
}

#sign{
    padding: 5px 7px 5px 7px;
    border-radius: 5px;
    background-color: black;
    color: #fafafa;
    border: none;
}


img{
    height: 200px;
  
}

#get {
    background-color: #00BFFF;
    color: #fafafa;
}


.has {
    background-color: #00BFFF;
    color: #fafafa;
    
}

.has p{
    font-weight: bold;
}


.read {
    color: #fafafa;
    background-color: #00BFFF;
    border: none;
}



.feedback {
 padding-left: 20px;
    
  
}
.feedback p {
    margin-top: 10px;
    font-weight: 550;
    margin-bottom: 20px;
  
}

#senior {
    color: #00BFFF;
}
#words{
     color: black;
}

.message p{
    font-weight: 600;
  }

  .icons {  
    color: #00BFFF;
}

.icons i {
    width: 50px;
    height: 50px;
}


.benefits{
    margin-top: 30px;
    text-align: center;
 
}

.inquiries{
    background-image: url("../images/tobias-keller-73F4pKoUkM0-unsplash.jpg");
    height: 300px;
    background-size: cover;
    margin-top: 30px;
    background-position: 100%;
    display: flex;
    align-items: center;
    
}

.reach {
    background-color: #00BFFF;
    color: #fafafa;
}

footer{
    background-color: #D9D9D9;
  
  }


/* .link{
    margin-right: 30px;
    margin-top: 30px;
    font-weight: 550;
 
}

.link li{
    margin-bottom: 10px;
}
.link ul{
    list-style-type: none;
}

.support{
    margin-right: 30px;
    margin-top: 30px;
    font-weight: 550;
}

.support ul{
    list-style-type: none;
}

.contact{
    margin-right: 30px;
    margin-top: 30px;
    font-weight: 550;
}

.contact ul{
    list-style-type: none;
}

.support li{
    margin-bottom: 10px;
}
.contact li{
    margin-bottom: 10px;
}


.copyright{
    color: #00BFFF;
    text-align: center;
} */