/* imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body {
    font-family: 'Inter', sans-serif;
}

/*Styling Navigtion bar section */
.nav{
background-color: #00BFFF;
height: 70px;
width: 100%;
/* padding: 20px; */
}
.navbar{
    display: flex;
    width:80%;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
}
.navbar h2{
    flex: 1;
    color: black;
    font-family: 'Inter', sans-serif;

}
.navbar ul{
    flex: 2;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    padding: 0px 5px;
    margin: 20px;
}
.navbar ul li {
 list-style: none;
 padding: 8px 10px;

}
.navbar ul li a{
    font-size: 20px;
    padding: 10px 15px;
   /* display: inline; */
   color: #fafafa;
    
}


.btn-div{
    flex: 1;
    display: flex;
    justify-content: center;
}
#log{
    padding: 5px 7px 5px 7px;
    border-radius: 5px;
    background-color: #fafafa;
    border: none;
    margin-right: 50px;
}
#sign{
    padding: 5px 7px 5px 7px;
    border-radius: 5px;
    background-color: black;
    color: #fafafa;
    border: none;
}

.option{
    margin-top: 70px;
    text-align: center;
    background-image: url("../images/jason-goodman-Oalh2MojUuk-unsplash.jpg");
    background-size: cover;
    margin-top: 0;
    height: 500px;
    background-position: 100%;
    width: 100%;
    
  }
.title h1{
  padding-top: 100px;
  padding-left: 80px;
}

img{
    height: 200px;
  
}

#get{
    margin-top: 100px;
    background-color: #00BFFF;
    color: #fafafa;
    border: none;
    padding: 20px 10px 20px 10px;
    margin-bottom: -10px;
    font-weight: bold;
  
}



#get:hover{
    transform: scale(1.05);
    color: purple;
} 
.clients{
    margin-left: 200px;
    margin-top: 20px;
}

.has{
    display: flex;
    justify-content: space-between;
    width: 400px;
    background-color: #00BFFF;
    color: #fafafa;
    padding: 20px;
    margin-top: 10px;
    width: 70%;

    
}

.has p{
    font-weight: bold;
}

.service{
   
    display: flex;
    /* justify-content:space-between; */
     margin-top: 40px;
     flex: 1;
     padding-left: 100px;
   
}


.service .content{
    flex: 1;
    /* display: grid; */
    align-content: center;
    max-width: 50%;
    margin: 20px;
    /* padding: 10px; */
    
}

.service .content p{
    margin-left: 0;
}

.read{
    margin-left: 500px;
    margin-top: -20px;
  
}

.read button{
    color: #fafafa;
    background-color: #00BFFF;
    border: none;
    padding: 10px;
    font-weight: 600;
    margin-top: -20px;
}
.read button:hover{
    transform: scale(1.05);
    color: purple;
}

.activity{
    display: flex;
    max-width: 50%;
    margin: 20px;
    padding-left: 100px;
}

.feedback{
 padding-left: 20px;
    
  
}
.feedback p{
    margin-top: 10px;
    font-weight: 550;
    margin-bottom: 20px;
  
}

#senior{
    color: #00BFFF;
    /* background-color: red; */
}
#words{
     color: black;
    /* background-color: yellow; */
}


/* testimonials */
.message{
    gap: 2rem   ;
    margin: 2% 8%;
    display: flex;
    justify-content: space-between;
    /* width: 90%; */
}

.message p{
    font-weight: 600;
  }

  .jd {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center          ;
    padding: 3%;
    border: none;
    border-radius: 12px;
    /* background-color: gray; */
  }

  .jd img {
    border-radius: 100px;
  }

  .icons {  
    /* display: flex; */
    /* justify-content: space-around; */
    color: #00BFFF;
    /* color: #fafafa; */
}

.icons i {
    width: 40px;
    height: 40px;
}


.benefits{
    margin-top: 30px;
   text-align: center;
    /* background-color: red; */
 
}

.inquiries{
    background-image: url("../images/tobias-keller-73F4pKoUkM0-unsplash.jpg");
    height: 300px;
    background-size: cover;
    margin-top: 30px;
    background-position: 100%;
    display: flex;
    align-items: center;
    
}

.ask{
    padding-left: 400px;
}

.reach{
    padding-left: 300px;
}
.reach button{
    background-color: #00BFFF;
    border: none;
    padding: 30px 20px 30px 20px;
    color: #fafafa;
}

.reach button:hover{
    transform: scale(1.05);
    color: purple;
   
}

.footer{
    background-color: #D9D9D9;
    display: flex;
   justify-content: space-between;
   height: 200px;
  
  }

.manage{
    margin-right: 100px;
    width: 20%;
    margin-top: 30px;
    padding-left: 10px;
}
.link{
    margin-right: 30px;
    margin-top: 30px;
    font-weight: 550;
 
}

.link li{
    margin-bottom: 10px;
}
.link ul{
    list-style-type: none;
}

.support{
    margin-right: 30px;
    margin-top: 30px;
    font-weight: 550;
}

.support ul{
    list-style-type: none;
}

.contact{
    margin-right: 30px;
    margin-top: 30px;
    font-weight: 550;
}

.contact ul{
    list-style-type: none;
}

.support li{
    margin-bottom: 10px;
}
.contact li{
    margin-bottom: 10px;
}


@media screen and (max-width:500px) {
    body{
        width: 360px;
        
    }
    .nav{   

     width: 100%; 
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 20px ;
     
     }
}