*{
    margin: 0;
    padding: 0;
    text-decoration: none;

}
body{

    /* background-color: #fafafa; */
    font-family: 'Space  Grotesk'  'Oleo Script' sans-serif;
    /* background-image: url('../photos/jason-goodman-Oalh2MojUuk-unsplash.jpg'); */
    /* background-size: cover; */
    
}

/*Styling Navigtion bar section */
.nav{
   background-color: #00BFFF;
height: 70px;
/* width: 100px; */
display: flex;
align-items: center;
justify-content: center;
padding: 20px 20px 20px 20px;

}
.navbar{
    display: flex;
    width:80%;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
}
.navbar h2{
    flex: 1;
    color: black;
    font-family: "Oleo Script", sans-serif;

}
.navbar ul{
    flex: 2;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    padding: 0px 5px;
    margin: 20px;
}
.navbar ul li {
 list-style: none;
 padding: 8px 10px;

}
.navbar ul li a{
    font-size: 20px;
    padding: 10px 15px;
   /* display: inline; */
   color: #fafafa;
    
}


.btn-div{
    flex: 1;
    display: flex;
    justify-content: center;
}
#log{
    padding: 5px 7px 5px 7px;
    border-radius: 5px;
    background-color: #fafafa;
    border: none;
    margin-right: 50px;
}
#sign{
    padding: 5px 7px 5px 7px;
    border-radius: 5px;
    background-color: black;
    color: #fafafa;
    border: none;
}

.option{
    margin-top: 70px;
    text-align: center;
    background-image: url("../photos/jason-goodman-Oalh2MojUuk-unsplash.jpg");
    background-size: contain;
    margin-top: 0;
    height: 500px;
    
  }

img{
    height: 200px;
  
}

#get{
    margin-top: 100px;
    background-color: #00BFFF;
    color: #fafafa;
    border: none;
    padding: 20px 10px 20px 10px;
    margin-bottom: -10px;
    font-weight: bold;
  
}



#get:hover{
    transform: scale(1.05);
} 
.clients{
    margin-left: 200px;
    margin-top: 20px;
}

.has{
    display: flex;
    justify-content: space-between;
    width: 400px;
    background-color: #00BFFF;
    color: #fafafa;
    padding: 20px;
margin-top: 10px;
}

.has p{
    font-weight: bold;
}

.service{
   
    display: flex;
    /* justify-content:space-between; */
     margin-top: 40px;
     flex: 1;
   
}


.service .content{
    flex: 1;
    /* display: grid; */
    align-content: center;
    max-width: 50%;
    margin: 20px;
    /* padding: 10px; */
    
}

.service .content p{
    margin-left: 0;
}

.read{
    margin-left: 500px;
    margin-top: -10px;
  
}

.read button{
    color: #fafafa;
    background-color: #00BFFF;
    border: none;
    padding: 10px;
    font-weight: 600;
}

.activity{
    display: flex;
    max-width: 50%;
    margin: 20px;
}

.feedback{
    margin-top: 20px;
  
}
.feedback p{
    margin-top: 10px;
  
}
 .message p{
  font-weight: 600;
}
#senior{
    color: #00BFFF;
    /* background-color: red; */
}
#words{
     color: black;
    /* background-color: yellow; */
}

.message{
    display: flex;
}


