/* imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* general */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
}


/* sidebar */
.dashboard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: white;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar-container {
    padding: 2%;
    max-width: 40%;
    height: 680px;
    background-color: #00BFFF;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 32px;
    margin-top: 20%;
}

.sidebar-list i {
    font-size: 32px;
    margin: 0 8% 0 0 ;
    color: black;
}

.sidebar-list li {
    cursor: pointer;
}

.sidebar-list li a {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.profile {
    width: 50%;
    height: 50%;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: black;
    gap: 1rem;
}

.logo img {
    width: 100px;
}

.logo h2 {
    font-weight: 800;
    font-size: 100%;
    color: white;
}

.logo p {
    opacity: 70%;
}




/* main-content */
.main-content {
    margin: 2% 4%;
}


/* search */
/* .search-container {
    margin: ;
} */

#search {
    padding: 8%;
    border-radius: 16px;
    border: 3px solid #00BFFF;
}




/* media queries, hovers & extras */
@media screen and (max-width: 600px) {
    .sidebar-list i {
        font-size: 24px;
        margin: 0 8% 0 0 ;
    }

    .logo img {
        width: 60px;
    }

    .logo h2 {
        font-weight: 800;
        font-size: 70%;
        color: white;
    }
    
    .logo p {
        font-size: 80%;
    }

    .sidebar-list li a {
        font-size: 16px;
    }

    .sidebar-container {
        padding: 12px;
    }
}






















